<section class="container header">
        <h2>Login</h2>
</section><!-- end container -->

<div id="site-wrapper" ng-controller="LoginController">

    <div class="main-container">
   
        <div class="login-wrapper">
            
            <form>
                <label for="">Username</label>
                <input type="text" name="" id="" ng-model="user.name">

                <label for="">Password</label>
                <input type="password" name="" id="" ng-model="user.password">

                <button type="submit" ng-click="login(user)">Login</button>

            </form>

        </div><!-- end login-wrapper -->

    </div><!-- end main-container -->       

</div><!-- end site-wrapper -->